section
{
	margin: 40px;
	
}table, th, td,tr {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 5px;


}

th, td {
  padding: 1px;
  text-align: center;   
  border-style: hidden; 
}
.center
{
	margin-left: 300px;
}
#border
{
	border-style: solid;
}
.paddingtab
{
	margin-left: 1px;

}
b
{
	text-align: left;
}
a
 {
 
  color:black;
  text-decoration:none;

}
p
{
	text-align: left;
}
#acolor
{
	color: white;
}
a:hover
{
	background-color: gray;
}
#nav

{
	border:1px solid black;
	height:50px;
	background-color: #FFFFE0;
	border-style: hidden;

}
#color
{
	background-color: gray;
}
.left
{
	  margin-top: 5px;
}
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 45%;
}

/* Middle column */
.column.middle {
  width: 50%;
  margin-left: -95px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}
h3
{
	text-align: left;
}

input
{
	width: 800px;
	height: 30px;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: -451px;
  height: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}